<template>
    <div v-if="showMe=='true'" class="test">
        <h2>{{ title }}</h2>
        <p>{{ user.firstName }} {{ user.lastName }}</p>
        
        <h1>Using Directives</h1>
            <span v-html="htmlTitle"></span>
            <p v-text="user.firstName"></p>
        
        <h1>Conditional Directives</h1>
            <p v-if="showName">{{ user.firstName }} {{ user.lastName }}</p>
            <p v-else>Name is hidden</p>

        <h1>Looping Directive</h1>
            <table align="center">
                <tr>
                    <th>Quantity</th>
                    <th>Title</th>
                </tr>
                <tr v-for="item in items">
                    <td>
                        {{ item.qty}}
                    </td>
                    <td>
                        {{ item.title}}
                    </td>
                </tr>
            </table>

        <h1>Binding</h1>
            <span>Changes in this textbox will change the title too:</span>
            <input type="text" v-model="title"><br/>
            <b>Rendering Computed Output</b><br/>
            <span>First Name:</span><input type="text" v-model="user.firstName"/><br/>
            <span>Last Name:</span><input type="text" v-model="user.lastName"/><br/>
            <span>Computed Full Name: {{ fullName }}</span>

        <h1>DOM events triggering</h1>
            <button v-on:click="greet(fullName)">Say Greeting</button><br/>
            <span>View the console while enetering text into this field:</span>
            <input v-on:keyup="keyPress" v-on:keyup.enter="hitEnter"/>

        <h1>Properties / Component attributes</h1>
            <p>properties are defined in component attributes</p>
            <p>following is the "msg" property defined</p>
            <p>{{ msg }}</p>
    </div>
</template>

<script>
    export default{
        name: 'test',
        props: {
            msg: {
                default: "this is msg property",
                type: String
            },
            showMe: {
                type: String,
                default: "true"
            }
        },
        data(){
            return {
                title: 'Hello World',
                htmlTitle: '<h2>Hello World</h2>',
                user: {
                    firstName: 'Jawad',
                    lastName: 'Humayun'
                },
                showName: false,
                items: [
                    {
                        title: 'item One',
                        qty: 1
                    },
                    {
                        title: 'item Two',
                        qty: 10
                    },
                    {
                        title: 'item Three',
                        qty: 5
                    }
                ]
            }
        },
        methods: {
            greet: function(name){
                alert('Hello '+name);
            },
            keyPress: function(e){
                console.log(e.target.value);
            },
            hitEnter: function(e){
                alert('You hit enter');
            }
        },
        computed: {
            fullName: function(){
                return this.user.firstName+' '+this.user.lastName;
            }
        }
    }
</script>

<style scoped>
</style>