<template>
    <div v-if="showMe=='true'" class="users">
        <h1 class="title">{{title}}</h1>
        
        <form v-on:submit="addUser">
            <table class="addUser" align="center" width="500px">
                <tr>
                    <th v-if="!editMode" colspan="2">
                        Add New
                    </th>
                    <th v-else colspan="2">
                        Edit
                    </th>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>
                        <input type="text" v-model="buffUser.name"/>
                    </td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>
                        <input type="text" v-model="buffUser.email"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input  v-if="!editMode" class="btn-default" type="submit" value="Submit"/>
                        <input v-else class="btn-default" type="submit" value="Update"/>
                        <div class="clearfix"></div>
                    </td>
                </tr>
            </table>
        </form>
        <span class="errMsg" v-html="errMsg" v-if="showErr"></span>
        <table align="center" width="500px">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>is Contacted?</th>
                <th>Actions</th>
            </tr>
            <tr :class="{editting: index==editIndex}" v-for="(user, index) in users">
                <td>{{ index+1 }}</td>
                <td :class="{contacted: user.contacted}">{{ user.name }}</td>
                <td :class="{contacted: user.contacted}">{{ user.email }}</td>
                <td><input type="checkbox" v-model="user.contacted"/></td>
                <td>
                    <button title="edit" class="edit" v-on:click="editUserClick(user)">Edit</button>
                    <button title="delete" class="delete" v-on:click="delUser(user)">x</button>
                </td>
            </tr>
        </table>

    </div>
</template>

<script>
    export default{
        name: 'users',
        props: {
            showMe: {
                type: String,
                default: "true"
            },
            title: {
                type: String,
                default: "Users"
            }
        },
        data(){
            return {
                errMsg: "",
                showErr: false,
                buffUser: {},
                editIndex: null,
                editMode: false,
                users: [
                    {
                        name: "John Doe",
                        email: "johndoe@gmail.com",
                        contacted: false
                    },
                    {
                        name: "Jane Smith",
                        email: "janesmith@gmail.com",
                        contacted: false
                    },
                    {
                        name: "Jawad Humayun",
                        email: "jawad.humayun@ghl.com",
                        contacted: false
                    }
                ],
            }
        },
        methods: {
            addUser: function(e){
                e.preventDefault();
                if(this.validateUser()){
                    if(this.editMode){
                        this.editUser();
                    }
                    else{
                        this.users.push(this.buffUser);
                        this.buffUser = {};
                    }
                }
            },
            delUser: function(user){
                this.users.splice(this.users.indexOf(user),1);
            },
            editUserClick: function(user){
                this.editMode = true;
                this.editIndex = this.users.indexOf(user);
                this.buffUser = {
                    name: this.users[this.editIndex].name,
                    email: this.users[this.editIndex].email,
                    contacted: this.users[this.editIndex].contacted
                };
            },
            editUser: function(){
                this.users[this.editIndex] = this.buffUser;
                this.buffUser = {};
                this.editMode = false;
                this.editIndex = null;
            },
            validateUser: function(){
                this.errMsg = "";
                this.showErr = false;
                this.validateName();
                this.validateEmail();
                return !this.showErr;
            },
            validateName: function(){
                if(this.buffUser.name=="" || typeof this.buffUser.name=="undefined"){
                    this.errMsg += "<p>Invalid user name</p>";
                    this.showErr = true;
                }
            },
            validateEmail: function(){
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if(this.buffUser.email=="" || typeof this.buffUser.email=="undefined" || false==re.test(String(this.buffUser.email).toLowerCase())){
                    this.errMsg += "<p>Invalid user email</p>";
                    this.showErr = true;
                }
            }
        }
    }
</script>

<style scoped>
    .users{
        text-align: left;
    }
    .title{
        text-align: center;
    }
    input[type="text"]{
        width: 100%;
    }
    .btn-default{
        background-color: #41b883;
        color: #35495e;
        border-radius: 5px;
        border: none;
        padding: 10px;
        float: right;
        font-weight: bold;
    }
    .editting{
        display: none;
    }
    .clearfix{
        clear: both;
    }
    .addUser{
        background-color: #efefef;
        border-radius: 5px;
        padding: 15px;
    }
    table{
        margin-top: 10px;
    }
    .delete{
        background-color: red;
        color: #fff;
        font-weight: bold;
        border-radius: 5px;
        border: none;
        padding: 5px;
    }
    .edit{
        background-color: rgb(68, 160, 202);
        color: #fff;
        font-weight: bold;
        border-radius: 5px;
        border: none;
        padding: 5px;
    }
    .errMsg{
        color: red;
        text-align: center;
        font-weight: bold;
        width: 100%;
    }
    .contacted{
        text-decoration: line-through;
    }
</style>