<template>
  <div id="app">
    <img v-if="false" src="./assets/logo.png">
    <test showMe=false msg="Hello eGHL"></test>
    <users showMe=true></users>
  </div>
</template>

<script>
  import Test from './components/test'
  import Users from './components/users'

  export default {
    name: 'App',
    components: {
      Test, Users
    }
  }
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
